<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Engineer - Operations Automation Devops</h1>
            <span><address>Bangalore, India</address><time>April 2016 to Present</time></span>
        </header>
        <p>Working as a Senior Engineer - Operations Automation Devops in Onmobile Global Ltd, Bangalore from 18-Apr-16 to till date.</p>
    </article>
    <article>
        <header>
            <h1>Linux Server Administrator</h1>
            <span><address>Hyderabad, India</address><time>June 2015 to March 2016</time></span>
        </header>
        <p>Worked as a Linux Server Administrator in Mobicentric Technologies Pvt Ltd, Hyderabad from 10-Jun-2015 to till March-16.</p>
    </article>
</section>
