<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Server status application</h1>
            <span><address>Onmobile Global Ltd, Bangalore, India</address><time>2019</time></span>
        </header>
        <p>
            Project: Implemented system monitoring dashboard using python, Flask, Maria DB which will display servers live data regarding applications current status
        </p>
    </article>
    <article>
        <header>
            <h1>Realtime Revenue Tracker</h1>
            <span><address>Mobicentric Technologies Pvt ltd, Hyderabad, India</address><time>2016</time></span>
        </header>
        <p>
            Project: Developed Realtime revenue tracker for all revenue generated applications using PHP, Mysql, CGI
        </p>
    </article>
</section>